.chart-board {
    padding: 20px;

    .user-id-filter {
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 0 20px;
        
        .filter-label {
            font-weight: 600;
        }
    }
}